<div class="container">
  <div class="data">
    <form [formGroup]="myForm">
      <div class="row">
        <div class="bold">
          Количество километров
        </div>
        <div>
          <input formControlName="distance" type="text">
        </div>
      </div>
      <div class="row">
        <div class="bold">
          Возраст
        </div>
        <div>
          <input formControlName="age" type="text">
        </div>
      </div>
      <div class="row">
        <div class="bold">
          Вес багажа
        </div>
        <div>
          <input formControlName="baggageWeight" type="text">
        </div>
      </div>
    </form>
    <div class="btn" (click)="calculate()">
      Рассчитать
    </div>
    <div class="bold row">
      Предложения:
    </div>
    <div class="gray border">Аэрофлот</div>
    <div class="border">Эконом: {{aeroflotEconomPrice}}</div>
    <div class="border">Продвинутый: {{aeroflotAdvancedPrice}}</div>
    <div class="border">Люкс: {{aeroflotLuxePrice}}</div>
    <div class="gray border">РЖД</div>
    <div class="border">Эконом: {{railwayEconomPrice}}</div>
    <div class="border">Продвинутый: {{railwayAdvancedPrice}}</div>
    <div class="border border-bottom">Люкс: {{railwayLuxePrice}}</div>
  </div>
</div>